input[type='text'] {
    font-size: 16px;
    font-family: monospace;
    padding: 1px;
    border: none;
    border-bottom: 2px solid #ccc;
}

input[type='text']:focus {
    outline: none;
}

label {
    margin-right: 5px;
    line-height: 20px;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: Source Sans Pro;
    font-size: 16px;
}

code {
    font-family: Source Code Pro;
    font-weight: bold;
}

.slide {
    width: 100%;
    height: 100%;
    padding: 2% 2%;
    position: absolute;
    background-color: white;
    display: none;
}

.show {
    display: block;
}

button {
    min-width: 75px;
    padding: 0.5em 1.5em 0.75em 1.5em;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #eee;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #ccc;
}

button:disabled {
    pointer-events: auto;
}

button:disabled:hover {
    background-color: #eee;
}

button:active {
    background-color: #999;
    color: white;
    outline: none;
}


.ExamplesEditor {
    text-align: justify;
    width: 100%;
}

.rule-wrapper {
    font-size: 110%;
    color: gray;
    font-style: italic;
    background-color: #fdf1e3;
    padding: 5px;
}

.rule {
    color: #6666cc;
    font-style: normal
}

.clear {
    clear: both;
}


.add-example {
    float: left;
    margin-right: 0.5em;
}

.remove {
    color: #c09898;
    font-size: 120%;
}

.remove {
    cursor: pointer;
}



.icon {
    font-size: 120%;
    padding: 0px 4px 0px 4px;
    font-weight: bold;
    font-family: monospace;
    opacity: 0.5;
}

.icon.minus {
    background-color: red;
    color: white;
}

.icon.plus {
    background-color: #4e8e4e;
    color: white;

}

.done-adding {
    margin-top: 3em;
    float: right;
}

.icon.forward {
    font-size: 120%;
    background-color: #3d95ed;
    color: white;
    padding: 0px 4px 0px 4px;
    font-weight: bold;
    font-family: monospace;
    opacity: 0.5;
}

input[name='string'] {
    font-weight: bold;
}

.hide {
    display: none;
}

.interface-instructions {
    font-style: italic
}

#give-examples .container {
    width: 500px;
    margin: 0 auto;
}

.received-examples-list {
    font-size: 24px;
}

.matchIcon.positive {
    color: green
}

.matchIcon.negative {
    color: red
}


.progress {
    border: 1px solid gray;
    border-radius: 2px;
    width: 100%;
    height: 1.5em;
    padding: 0;
    position: relative;
    color: gray;
    font-size: 80%;
}

.progress span {
    position: absolute;
    top: 0;
    left: 0.5em;
}

.completed {
    background-color: #cfe4fa;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

label.error {
    display: none;
    float: ;
	  color: red;
	}

textarea {
    font-family: Source Sans Pro;
    font-size: 16px;
}

#q ul {
    padding: 0;
    list-style-type: none;
}

#q ul li {
    padding-top: 0.5em;
}
